*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
   transition: 0.5s;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    width: 30rem;
    
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 40px;
    text-align: center;

}
button{
    margin-top: 5px;
    display: block;
    width: 100%;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    font-size: 35px;

}